/*
 * Copyright (C) 2013-2015 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include "imx6dl.dtsi"
#include "imx6qdl-sabresd.dtsi"

/ {
	model = "Freescale i.MX6 DualLite SABRE Smart Device Board";
	compatible = "fsl,imx6dl-sabresd", "fsl,imx6dl";
};

//Removendo node de bateria

&iomuxc {
	pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_hog_1>;
        imx6dl-jacto {
                //Adicionando pinos do display
                pinctrl_hog_1: hoggrp-1 {
                        fsl,pins = <
				MX6QDL_PAD_EIM_D31__USB_H1_PWR		0x80000000
				MX6QDL_PAD_KEY_ROW2__GPIO4_IO11		0x80000000
				MX6QDL_PAD_GPIO_0__GPIO1_IO00		0x80000000	//PWER_ON
				MX6QDL_PAD_GPIO_1__GPIO1_IO01		0x80000000
				MX6QDL_PAD_GPIO_2__GPIO1_IO02		0x80000000
				MX6QDL_PAD_GPIO_5__GPIO1_IO05		0x80000000
				MX6QDL_PAD_GPIO_9__GPIO1_IO09		0x80000000
				MX6QDL_PAD_GPIO_17__GPIO7_IO12		0x80000000
				MX6QDL_PAD_GPIO_18__GPIO7_IO13		0x80000000
				MX6QDL_PAD_GPIO_19__GPIO4_IO05		0x80000000
				MX6QDL_PAD_NANDF_CS0__GPIO6_IO11	0x80000000	//DISP_RST_B
				MX6QDL_PAD_NANDF_CS1__GPIO6_IO14	0x80000000	//DISP_PWR_EN
				MX6QDL_PAD_NANDF_CS2__GPIO6_IO15	0x80000000	//CABC_EN0
				MX6QDL_PAD_NANDF_CS3__GPIO6_IO16	0x80000000	//CABC_EN1
				MX6QDL_PAD_NANDF_D0__GPIO2_IO00		0x80000000	//SD3_CD
				MX6QDL_PAD_EIM_D28__GPIO3_IO28		0x80000000	//VD_nRESET
				MX6QDL_PAD_CSI0_DAT4__GPIO5_IO22	0x80000000	//CONFIG_RES
                        >;
                };

		//Adicionando configuração de pinos UART1
		pinctrl_uart1_cts: uart1grp {
                        fsl,pins = <
				MX6QDL_PAD_EIM_D19__UART1_CTS_B		0x1b0b1
				MX6QDL_PAD_EIM_D20__UART1_RTS_B		0x1b0b1
                                MX6QDL_PAD_CSI0_DAT10__UART1_TX_DATA    0x1b0b1
                                MX6QDL_PAD_CSI0_DAT11__UART1_RX_DATA    0x1b0b1
                        >;
                };

		//Adicionando configuração de pinos UART3
		pinctrl_uart3: uart3grp {
                        fsl,pins = <
				MX6QDL_PAD_EIM_D23__UART3_CTS_B		0x1b0b1
				MX6QDL_PAD_EIM_D24__UART3_TX_DATA	0x1b0b1
				MX6QDL_PAD_EIM_D25__UART3_RX_DATA	0x1b0b1
                        >;
                };

		//Adicionando configuração de pinos de CAN1
                pinctrl_flexcan1: flexcan1grp{
                        fsl,pins = <
                                MX6QDL_PAD_GPIO_7__FLEXCAN1_TX      0x1b020
                                MX6QDL_PAD_GPIO_8__FLEXCAN1_RX      0x1b020
                        >;
                };
		//Adicionando configuração de pinos de CAN2
                pinctrl_flexcan2: flexcan2grp{
                        fsl,pins = <
                                MX6QDL_PAD_KEY_COL4__FLEXCAN2_TX      0x1b020
                                MX6QDL_PAD_KEY_ROW4__FLEXCAN2_RX      0x1b020
                        >;
                };
	};
};

//Adicionando i2c1
&i2c1 {
        clock-frequency = <100000>;
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_i2c1>;
        status = "okay";
};
//Adicionando i2c2
&i2c2 {
        clock-frequency = <100000>;
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_i2c2>;
        status = "okay";

	rtc: pcf8506323@51 {
                compatible = "nxp,pcf85063";
                reg = <0x51>;
        };
};

//Adicionando i2c3
&i2c3 {
	clock-frequency = <100000>;
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_i2c3>;
        status = "okay";

	//Adicionado touchscreen do display
        gt911@ba {
                        compatible = "goodix,gt911";
                        reg = <0x14>;
                        pinctrl-names = "default";
                        pinctrl-0 = <&pinctrl_i2c_goodix>;
                        interrupt-parent = <&gpio6>;
                        interrupts = <31 1>;//1 = interrupção por borda de subida
                        //O driver não usa wake e reset
                        //wakeup-gpios = <&gpio3 27 GPIO_ACTIVE_HIGH>;
                        //reset-gpios = <&gpio3 26 GPIO_ACTIVE_LOW>;
        };
};

//LVDS (ldb) habilitado
&mxcfb1 {
	status = "okay";
};

&ldb {
	lvds-channel@0 {
	        crtc = "ipu1-di0";
	};

	lvds-channel@1 {
	        crtc = "ipu1-di1";
	};
};


&mxcfb2 {
	status = "okay";
};

&pxp {
	status = "okay";
};

//Adicionando CAN1
&can1 {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_flexcan1>;
        status = "okay";
};
//Adicionando node CAN2
&can2 {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_flexcan2>;
        status = "okay";
};

//Adicionando uart1
&uart1 {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_uart1_cts>;
	fsl,uart-has-rtscts;
        status = "okay";
};

//Adicionando uart3
&uart3 {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_uart3>;
	fsl,uart-has-rtscts;
        status = "okay";
};

//Configurando Fast Ethernet Controller
&fec {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_enet>;
        phy-mode = "rmii";
        phy-reset-gpios = <&gpio4 9 GPIO_ACTIVE_LOW>;
        status = "okay";
	phy-handle = <&ethphy0>;

	mdio {
                #address-cells = <1>;
                #size-cells = <0>;

                ethphy0: ethernet-phy@1 {
                        compatible = "ethernet-phy-ieee802.3-c22";
                        reg = <1>;
                };
        };
};

//USDHC2 e USDHC4 já estão habilitados no dtsi
//Interface de câmera já definida no dtsi 
//Configuração de pinos I2C1, I2C2 e I2C3 estão no dtsi
